.page.theme_dark {
  --accent-color: #FF0070;
  --header-title-color: #DB00FF;
  --rec-color: #FF0070;
  --footer-title-color: #DB00FF;
  --nav-text-color: #FF0070;
  --shadow-color: #FF0070;
  --main-title-color: #000028;
  --question-color: #FF0070;
  --main-paragraph-color: #F1B2CE;
  --border-color: #FF0070;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --main-font-size: 18px;
  --cover-image: url(../images/cover-image-dark.png);
  --background-color: #000E2E;
  }

.theme_dark .header__rec {
  display: flex;
}



