.page.theme_light {
  --accent-color: #FF8DCB;
  --header-title-color: #FFC2E6;
  --footer-title-color: #FFC2E6;
  --nav-text-color: #353430;
  --shadow-color: #FF0070;
  --main-title-color: #353430;
  --question-color: #353430;
  --main-paragraph-color: #353430;
  --border-color: #353430;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --main-font-size: 18px;
  --cover-image: url(../images/cover-image-light.png);
  --background-color: #FFF1F7;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #FF8DCB;
    --header-title-color: #FFC2E6;
    --footer-title-color: #FFC2E6;
    --nav-text-color: #353430;
    --shadow-color: #FF0070;
    --main-title-color: #353430;
    --question-color: #353430;
    --main-paragraph-color: #353430;
    --border-color: #353430;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --main-font-size: 18px;
    --cover-image: url(../images/cover-image-light.png);
    --background-color: #FFF1F7;
  } 
}

.theme_light .header__rec {
  display: none;
}