.page {
  font-family: 'IBM Plex mono', sans-serif;
  font-size: var(--main-font-size);
  background-image: var(--cover-image);
  background-size: cover;
  background-position: center;
  background-color: var(--background-color, #000E2E);
  background-attachment: fixed;
}

.header {
  min-block-size: 100vh;
  position: relative;
  font-family: 'IBM Plex mono', sans-serif;
  padding: var(--content-padding);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
}

.header__rec {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 52px;
  height: 26px;
  line-height: 25px;
  top: var(--content-padding);
  right: calc(9px + var(--content-padding));
  text-transform: uppercase;
  color: var(--rec-color, #FF0070);
}

.header__rec::after {
  display: inline-block;
  border-radius: 50%;
  content: '';
  align-self: center;
  width: 9px;
  height: 9px;
  background-color: var(--rec-color, #FF0070);
  box-shadow: 0px 0px 4px 2px var(--shadow-color, #FF0070);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  position: absolute;
  content: '';
  top: var(--content-padding);
  right: var(--content-padding);
  width: 25px;
  height: 25px;
  border-block-start: 1px solid;
  border-inline-end: 1px solid;
  border-color: var(--border-color, #FF0070);
}

.decorated-zone::after {
  position: absolute;
  content: '';
  bottom: var(--content-padding);
  left: var(--content-padding);
  width: 25px;
  height: 25px;
  border-block-end: 1px solid;
  border-inline-start: 1px solid;
  border-color: var(--border-color, #FF0070);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center; 
    align-self: start;
  }
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (width >= 1024px) {
  .header__theme-menu-list {
    flex-direction: row;
  }
}

.header__theme-menu-item {
  display: flex;
  color: var(--nav-text-color, #FF0070);
}

.header__theme-menu-item:hover {
  outline: 1px solid var(--nav-hover-color);
  outline-offset: -1px;
}

.header__theme-menu-button {
  text-transform: lowercase;
  width: 100%;
  border: 1px solid transparent;
  padding: 1px 13px 4px;
  line-height: 1;
  cursor: pointer;
  appearance: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--nav-text-color, #FF0070);
}

.header__theme-menu-button_active {
  border: 1px solid var(--border-color, #FF0070);
  pointer-events: none;
}

.header__title {
  color: var(--header-title-color, #DB00FF);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: clamp(5.98125rem, 4.7595rem + 5.2126vw, 8.095625rem);
  text-shadow: 4px 4px 0 var(--shadow-color, #FF0070);
  align-self: center;
  overflow: hidden;
}

@media (width >= 768px) {
  .header__title {
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: clamp(6.1875rem, 0.4631rem + 11.9258vw, 8.0956rem);
  }
}

.header__description {
  inline-size: min(100%, 364px);
  justify-self: end;
  background-color: var(--accent-color, #FF0070);
  line-height: 23.4px;
  font-weight: var(--font-weight-bold, 700);
  color: var(--main-title-color, #000028);
  align-self: center;
}

@media (width >= 768px) {
  .header__description {
    inline-size: 50%;
  }
}

.content {
  padding-top: 30px;
  line-height: 23.4px;
}

@media (width >= 768px) {
  .content {
    padding-block-start: 40px;
  }
}

.section {
  padding: var(--content-padding);
  display: grid;
  margin-block-end: 30px;
  gap: 20px;
}

@media (width >= 768px) {
  .section {
    margin-block-end: 40px;
  }
}

.section__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__question {
  color: var(--question-color, #FF0070);
  font-weight: var(--font-weight-bold, 700);
}

.section__title {
  color: var(--main-title-color, #000028);
  background-color: var(--accent-color, #FF0070);
  font-weight: var(--font-weight-bold, 700);
  overflow: hidden;
}

.section-how .section__title {
  margin-block-end: 10px;
}

.section__description {
  color: var(--main-paragraph-color, #F1B2CE);
}

.section__advice {
  color: var(--main-title-color, #000028);
  background-color: var(--accent-color, #FF0070);
  font-weight: var(--font-weight-regular, 400);
}

@media (width >= 768px) {
  .section-why {
    grid-template-columns: 1fr 2fr;
  }
  
  .section-why .section__question {
    grid-column: span 1;
    grid-row: 1 / -1;
  }

  .section-why .section__container {
    grid-column: 2 / -1;
  }

  .section-what {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(auto-fill, min-content);
  }
  
  .section-what .section__question {
    grid-column: span 1;
    grid-row: span 1;
  }

  .section-what .section__container {
    grid-column: 1 / -1;
  }

  .section-how {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(auto-fill, min-content);
  }

  .section-how .section__question {
    grid-column: span 1;
  }

  .section-how .section__container {
    grid-column: 2 / -1;
  }
}

@media (width >= 1024px) {
  .section-why {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .section-what {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .section-what .section__question {
    inline-size: calc(33.3% - var(--content-padding));
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  .section-what .section__container {
    grid-column: span 1;
  }

  .section-how {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.paragraph-link {
  text-shadow: 2px 2px 0 var(--shadow-color, #FF0070);
}

.paragraph-link:hover {
  border-bottom: 1px solid var(--main-paragraph-color, #F1B2CE);
}

.paragraph-link:focus {
  outline: none;
}

.paragraph-link:focus-visible {
  outline: 1px solid var(--main-paragraph-color, #F1B2CE);
}

.section-gallery {
  grid-template-columns: 1fr;
  gap: var(--content-padding);
}

.gallery {
  display: grid;
  gap: var(--content-padding, 10px);
}

@media (width >= 768px) {
  .gallery {
    place-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
  }
}

.gallery__item {
  width: 100%;
}

@media (width >= 768px) {
  .gallery__item {
    min-block-size: 100%;
    object-fit: cover;
    object-position: center;
  }
}

@media (width >= 768px) {
  .sunset {
    grid-area: sunset;
  }

  .ice-cream {
    grid-area: ice-cream;
  }

  .tape {
    grid-area: tape;
  }

  .books {
    grid-area: books;
  }

  .street {
    grid-area: street;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color, #000E2E);
  min-block-size: 100vh;
}

.footer__title {
  color: var(--footer-title-color, #DB00FF);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: clamp(5.98125rem, 4.7595rem + 5.2126vw, 8.095625rem);
  text-shadow: 2px 2px 0 var(--shadow-color, #FF0070);
}

@media (width >= 768px) {
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}